h1{
    margin: .8rem;
}
.label{
    margin: .8rem;
    font-weight: 600;
}
.input-group{
    margin-bottom: 2rem;
}
.filter_toggle{
    margin: 1rem;
}
.filter_toggle-check{
    margin-left:1.5rem;
}
.filter_toggle-slider{
    margin:0 2rem;
    margin-top: 2rem;
}